name: test-r

# Run this workflow manually to check R set-up
on: workflow_dispatch

jobs:
  test-r:
    name: Test R setup
    runs-on: ubuntu-latest
    env:
      FLICKR_API_KEY: ${{ secrets.FLICKR_API_KEY }}

    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v2
        with: 
          use-public-rspm: true
      - name: R available?
        run: | 
          R --version
          Rscript --version
      - name: Create Renviron
        run: |
          mkdir tmplib
          echo "R_LIBS_USER=tmplib" > .Renviron
          Rscript -e 'message(Sys.getenv("R_LIBS_USER"))'
      - name: Install R packages
        run: Rscript -e 'install.packages("jsonlite")'
      - name: Install cURL Headers
        run: |
        sudo apt-get update
        sudo apt-get install libcurl4-openssl-dev
      - name: Install curl package
        run: Rscript -e 'install.packages("curl")'
